body{
    background-color: black;
}
.p1{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.p2{
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 36px;
    left: 192px;
    font-size: 15px;
    font-weight: 500;
}
.p3{
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 36px;
    left: 267px;
    font-size: 15px;
    font-weight: 500;
}
.p4{
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 36px;
    left: 340px;
    font-size: 15px;
    font-weight: 500;
}
.p5{
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 36px;
    left: 465px;
    font-size: 15px;
    font-weight: 500;
}
.p6{
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 36px;
    left: 570px;
    font-size: 15px;
    font-weight: 500;
}
.p7{
    border: 1px solid white;
    padding: 18px;
    color: white; 
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 18px;
    left: 665px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
}
.p8{
    color: white;  
    border: 1px solid white;
    padding: 18px;
    text-decoration: none;   
    font-family: sans-serif;
    position: absolute;
    top: 18px;
    left: 820px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
}