body {
  background-color: black;
}
.p1 {
  width: 165px;
  height: 75px;
  position: absolute;
  top: 11px;
  left: 20px;
}
.p2 {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 36px;
  left: 220px;
  font-size: 15px;
  font-weight: 500;
}
.p3 {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 36px;
  left: 300px;
  font-size: 15px;
  font-weight: 500;
}
.p4 {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 36px;
  left: 380px;
  font-size: 15px;
  font-weight: 500;
}
.p5 {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 36px;
  left: 500px;
  font-size: 15px;
  font-weight: 500;
}
.p6 {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 36px;
  left: 600px;
  font-size: 15px;
  font-weight: 500;
}
.p7 {
  border: 1px solid white;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 18px;
  left: 700px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50px;
}
.p8 {
  color: white;
  border: 1px solid white;
  padding: 18px;
  background-color: red;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 18px;
  left: 857px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50px;
  width: 10%;
  text-align: center;
}
.p9 {
  height: 100%;
  width: 100%;
  position: relative;
  top: 80px;
}
.p10 {
  color: white;
  position: absolute;
  top: 515px;
  left: 150px;
  font-size: 47px;
  font-family: "Orbitron";
  font-weight: 50;
}
.p11 {
  color: lightgray;
  position: absolute;
  top: 650px;
  left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.fonts {
  color: red;
  text-shadow: 2px 2px 1px white;
}
.box1{
  width: 250px;
  height: 135px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 30px;
  margin: 20px;
  border-radius: 4px;
}
.box2{
  width: 250px;
  height: 135px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 307px;
  margin: 20px;
  border-radius: 4px;
}
.box3{
  width: 250px;
  height: 135px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 583px;
  margin: 20px;
  border-radius: 4px;
}
.ord1{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 204px;
  left: 120px;
  font-size: 23px; 
}
.contener1{
  border: 1px solid black;
  width: 900px;
  height: 200px;
  position: absolute;
  top: 680px;
  left: 50px;
  margin: auto;
}
.contener2{
  border: 1px solid white;
  height: 4%;
  padding: 15px;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 870px;
  left: 120px;
  border-radius: 50px;
  width: 18%;
}
.ord2{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 204px;
  left: 400px;
  font-size: 23px; 
}
.ord3{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 204px;
  left: 675px;
  font-size: 23px; 
}
.contener3{
  border: 1px solid white;
  height: 4%;
  padding: 15px;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 870px;
  left: 400px;
  border-radius: 50px;
  width: 18%;
}
.contener4{
  border: 1px solid white;
  height: 4%;
  padding: 15px;
  text-decoration: none;
  font-family: sans-serif;
  position: absolute;
  top: 870px;
  left: 675px;
  border-radius: 50px;
  width: 18%;
}
   
 
  
 
 
